pipeline/13 Froeach Activity.json
{
	"name": "13 Froeach Activity",
	"properties": {
		"description": "Looping ",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('List')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Result",
								"value": {
									"value": "@mul(item(), 5)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"variables": {
			"List": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					30,
					40
				]
			},
			"Result": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Proj1"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-17T20:35:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}