pipeline/4 array example.json
{
	"name": "4 array example",
	"properties": {
		"activities": [
			{
				"name": "Marks Array",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": {
						"value": "@int(90)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Marks Array",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"marks": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					30,
					40
				]
			},
			"temp": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Proj1"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-16T20:55:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}