pipeline/Custom Logs using Proc_copy1.json
{
	"name": "Custom Logs using Proc_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[Log].[captureADFPipelineLogsStart]",
						"storedProcedureParameters": {
							"p_adfname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_piplinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_runid": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_runstart": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": 10
				}
			},
			{
				"name": "On Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Log].[captureADFPipelineLogsEnd]",
					"storedProcedureParameters": {
						"p_errormessage": {
							"value": null,
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Lookup1').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_runend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_status": {
							"value": {
								"value": "@variables('Status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_my_sql_server_demo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "On failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Log].[captureADFPipelineLogsEnd]",
					"storedProcedureParameters": {
						"p_errormessage": {
							"value": {
								"value": "@activity('Lookup2').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Lookup1').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_runend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_status": {
							"value": {
								"value": "@variables('FaildStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_my_sql_server_demo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"temp": {
				"type": "Integer"
			},
			"Status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"FaildStatus": {
				"type": "String",
				"defaultValue": "Fail"
			}
		},
		"folder": {
			"name": "scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-24T18:35:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}