pipeline/Custom Log Heirachy PL3.json
{
	"name": "Custom Log Heirachy PL3",
	"properties": {
		"activities": [
			{
				"name": "Log Start PL3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[Log].[captureADFPipelineLogsStartHeirachy]",
						"storedProcedureParameters": {
							"p_adfname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_parent_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.parent_id",
									"type": "Expression"
								}
							},
							"p_piplinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_runid": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_runstart": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Wait PL3",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Log Start PL3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "Success Log proc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait PL3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Log].[captureADFPipelineLogsEndHeirachy]",
					"storedProcedureParameters": {
						"p_errormessage": {
							"value": null,
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Log Start PL3').output.firstRow.ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_runend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_status": {
							"value": {
								"value": "@variables('SuccessStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_my_sql_server_demo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure logs proc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait PL3",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Log].[captureADFPipelineLogsEndHeirachy]",
					"storedProcedureParameters": {
						"p_errormessage": {
							"value": {
								"value": "@activity('Log Start PL3').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('Log Start PL3').output.firstRow.ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_runend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_status": {
							"value": {
								"value": "@variables('FailureStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_my_sql_server_demo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"parent_id": {
				"type": "int"
			}
		},
		"variables": {
			"SuccessStatus": {
				"type": "String",
				"defaultValue": "Success"
			},
			"FailureStatus": {
				"type": "String",
				"defaultValue": "Failed"
			}
		},
		"folder": {
			"name": "scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-24T18:35:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}