pipeline/Incremental Load onprems to stg.json
{
	"name": "Incremental Load onprems to stg",
	"properties": {
		"description": "Incremental Load onprems to stg of a single table hard code",
		"activities": [
			{
				"name": "Get Watermark Timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select lastupdate from cloud.watermark where tablename = 'sales'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql_db_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get max modified date from on Prems",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as max_modified\nfrom onprem.sales",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Testing If Incremental recors coming",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Watermark Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get max modified date from on Prems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from onprem.sales where modifieddate > ''', activity('Get Watermark Timestamp').output.firstRow.lastupdate,'''', 'AND modifieddate <= ''', activity('Get max modified date from on Prems').output.firstRow.max_modified,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incremetal records copying",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get max modified date from on Prems",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Watermark Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('select * from onprem.sales where modifieddate > ''', activity('Get Watermark Timestamp').output.firstRow.lastupdate,'''', 'AND modifieddate <= ''', activity('Get max modified date from on Prems').output.firstRow.max_modified,'''')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@concat('truncate table stg.sales')",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_az_sql_db",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_az_sql_db",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Updating watermark table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Incremetal records copying",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('update cloud.watermark set lastupdate = ''',activity('Get max modified date from on Prems').output.firstRow.max_modified,'''',' where tablename = ''','sales','''')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "Incremetal Load"
		},
		"annotations": []
	}
}